@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --escala: 600px;
  --giroRuleta: 0deg;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  user-select: none;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(85vh + 80px);
  overflow: hidden;
}

#ruleta {
  position: relative;
  box-sizing: border-box;
  height: var(--escala);
  width: var(--escala);
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 19px -1px rgb(124, 124, 124);
  -moz-box-shadow: 0px 0px 19px -1px rgb(124, 124, 124);
  box-shadow: 0px 0px 19px -1px rgb(124, 124, 124);
}

#cartelGanador {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -150px;
  top: 0px;
  min-height: 30px;
  width: 300px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
}

#ganadorTexto {
  margin: 0;
  padding: 10px 0;
}

#marcador {
  position: absolute;
  z-index: 10;
  top: 10px;
  background-color: black;
  width: 6px;
  height: 80px;
  pointer-events: none;
  border-radius: 10px;
  left: calc(50% - 2px);
}

/* Transportador */
#ruleta img {
  position: absolute;
  left: 0;
  transform: rotate(90deg);
  width: var(--escala);
  z-index: 10;
  opacity: 80%;
  pointer-events: none;
}

#opcionesContainer {
  transform-origin: center;
}

#sortear {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: calc(var(--escala) / 2 - 80px / 2);
  left: calc(var(--escala) / 2 - 80px / 2);
  z-index: 2;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  color: rgb(255, 76, 76);
}

.opcion {
  position: absolute;
  top: 0px;
  left: 0px;
  height: var(--escala);
  width: var(--escala);
  background-color: var(--color);
  transform: rotate(var(--deg));
  cursor: pointer;
}

/* Texto de opcion*/
.nombre {
  margin: 0;
  padding-top: 30px;
  color: white;
  text-align: center;
  height: calc(var(--escala) / 2);
  position: absolute;
  top: -0%;
  left: calc(var(--escala) / 3.7);
  transform-origin: bottom center;
  text-overflow: clip;
  pointer-events: none;
  font-weight: 700;
  font-size: 0.9em;
}

.separador {
  position: absolute;
  left: calc(var(--escala) / 2 - 1px);
  height: calc(var(--escala) / 2);
  width: 0px;
  transform-origin: center bottom;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 2px;
}

.girar {
  animation-name: girar;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes girar {
  100% {
    transform: rotate(var(--giroRuleta));
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
